.container {
  background-image: url("../../assets/bg.jpg");
  height: 100%;
  background-position: center center;
  display: flex;
  background-size: cover;
  height: 100vh;
  overflow: auto;
  justify-content: flex-end;
}
.loginBG {
  justify-content: center;
  align-items: center;
  overflow: auto;
  flex-direction: column;
  display: flex;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  width: 100%;
  border-top-left-radius: 20%;
  border-bottom-left-radius: 20%;
}
.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(255, 199, 199);
  width: 95%;
  height: 300px;
  border-radius: 10%;
}
.loginContainer button {
  height: 12%;
  cursor: pointer;
  margin-bottom: 20px;
  width: 20%;
  border-radius: 20%;
  border: 0;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.loginContainer input {
  height: 40px;
  margin: 5px;
  border-top: 0;
  width: 100%;
  border-left: 0;
  border-bottom: 1;
  border-color: rgba(0, 0, 0, 0.5);
  border-width: 0.1px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  padding-left: 15px;
}
.loginInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  width: 100%;
  flex-direction: column;
}
.loginInfo img {
  border-radius: 50%;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}
.loginBg {
  background: rgba(255, 255, 255, 0.6);
  width: 50%;
  height: auto;
  overflow: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 30px;
  backdrop-filter: blur(5px);
  align-items: center;
  justify-content: center;
  animation: an 10s infinite;
}
.warning {
  color: red;
  border: 1;
  box-shadow: 2px 2px 2px rgba(255, 2, 2, 0.3);
}
.show {
  position: relative;
  bottom: 38%;
  left: 95%;
  width: 25px;
  cursor: pointer;
  opacity: 40%;
  transition: opacity 0.3s ease-in;
}
.show:hover {
  opacity: 1;
}
@keyframes an {
  0% {
    border-radius: 0%;
  }
  50% {
    border-radius: 20%;
  }
  100% {
    border-radius: 0%;
  }
}
