.cont h1 {
  animation: spawn 1s ease;
}
.cont h2 {
  animation: spawn 2s ease;
}
.cont h3 {
  animation: spawn 3s ease;
}

@keyframes spawn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
