.container {
  background-image: url("../../assets/bg.jpg");
  height: 100%;
  background-position: center center;
  display: flex;
  background-size: cover;
  height: 95vh;
  overflow: auto;
  justify-content: center;
  align-items: center;
}
body {
  margin: 0px;
  padding: 0px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
  border-radius: 30px;
  width: 80%;
  height: 50%;
  justify-content: center;
}
.textContainer button {
  background-color: rgb(255, 255, 255);
  border: 1;
  color: black;
  cursor: pointer;
  border-width: 0.1px;
  border-style: ridge;
  height: 40px;
  width: 100px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
