.container {
  background-image: url("../../assets/bg.jpg");
  height: 100%;
  background-position: center center;
  display: flex;
  background-size: cover;
  height: 95vh;
  overflow: auto;
  justify-content: flex-end;
  align-items: center;
}
@keyframes spawn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
.cardContainer {
  display: flex;
  flex-direction: row-reverse;
  gap: 30px;
  animation: spawn 1s;
}
.info {
  gap: 10px;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.8);
  border-top-left-radius: 30%;
  border-bottom-left-radius: 30%;
  width: 50vw;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2vw;
}
.imgContainer img {
  border-radius: 50%;
  width: 500px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  animation: spawn 3s;
}
.link {
  position: relative;
  bottom: 20vh;
  left: 20vw;
}
.link button {
  width: 6vw;
  height: 4vh;
  border-radius: 0px 0px 0px 20px;
  border-width: 0.1px;
  cursor: pointer;
  border-style: groove;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}
